<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/stilus.css"
        />
        <title>Szerver Main Page</title>
    </head>
    <body>
        <%- include('./nav.ejs') %>
        <div id="index-kontener">
            <h1>Szerver Main Page</h1>
            <p><a href="http://localhost:5173/">Kliens oldal</a></p>
        </div>
    </body>
</html>
