<div id="nav-kontener">
    <li><a href="/">Főoldal</a></li>
    <li><a href="/konyvek">Könyvek</a></li>
    <li><a href="/ujkonyv">Új könyv</a></li>
    <li><a href="/felhasznalok">Felhasználók</a></li>
    <li><a href="/vasarlasok">Vásárlások</a></li>
</div>
