.books-kontener {
    background-color: rgba(255, 255, 255, 0.45);
    background-attachment: fixed;
    color: var(--feher);
    display: grid;
    height: max-content;
    grid-template-columns: 20% 60% 20%;
    margin-bottom: -4em;
    margin-top: 4em;
    padding-bottom: 1em;
}

.bal-fix {
    color: black;
    font-size: 1.5em;
    left: 2em;
    position: fixed;
    top: 5em;
}

.jobb-fix {
    color: black;
    font-size: 1.5em;
    position: fixed;
    right: 2em;
    top: 5em;
}

.books-kozep-kontener {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.book-kep {
    height: 370px;
    margin: 1em auto;
    width: 70%;
}

.book-kep img {
    height: 100%;
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.book-kontener button {
    background-color: orange;
    border: none;
    color: var(--feher);
    font-size: 1.5em;
    padding: 5px;
}
