.navbar-kontener {
    align-items: center;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4em;
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    top: 0px;
    width: 100vw;
}

.navbar-bal-kontener a {
    color: var(--feher);
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

.navbar-jobb-kontener,
.navbar-jobb-auth-kontener {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
}

.navbar-jobb-kontener a,
.navbar-jobb-auth-kontener a {
    color: var(--feher);
    display: inline-block;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 4em;
    text-decoration: none;
}

.navbar-kor {
    position: relative;
}

.navbar-cart-number {
    background-color: var(--kek);
    border-radius: 50%;
    color: var(--feher);
    display: block;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: 30px;
    width: 20px;
}
