@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    /* betűcsaládok beállítása*/
    --inter: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --fredoka: 'Fredoka', serif;
    /* színek beállítása*/
    --feher: whitesmoke;
    --kek: #535bf2;
}
