@import url('./valtozok.css');
@import url('./nav.css');
@import url('./index.css');
@import url('./ujKonyv.css');
@import url('./konyvek.css');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fredoka);
}
