@import url('/CSS/valtozok.css');
@import url('/CSS/Navbar.css');
@import url('/CSS/Home.css');
@import url('/CSS/Books.css');
@import url('/CSS/UniqueBook.css');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-attachment: fixed;
    background-image: url('/images/konyv.jpg');
    font-family: var(--inter);
}
